body {
    font-family: Arial, sans-serif;
}

/* Wrapper/container for map and buttons with adjustable background */
#container {
    background-color: var(--container-bg-color, #2b2929); /* Adjustable background */
    display: flex;
    flex-direction: column; /* Stack the content vertically */
    position: relative; /* Position relative for the toggle box and slider */
}

#top-buttons {
    display: flex;
    align-items: center;
    justify-content: center; /* Center items horizontally */
    padding: 20px;
    background-color: var(--container-bg-color, #2b2929);
}

#infoButton {
    padding: var(--button-padding, 10px 20px);
    font-size: var(--button-font-size, 16px);
    background-color: var(--button-bg-color, rgb(210, 154, 66));
    color: var(--button-text-color, rgb(15, 10, 5));
    border: var(--button-border, 2px solid black);
    border-radius: var(--button-border-radius, 5px);
    cursor: pointer;
    margin-right: 20px; /* Space between button and text box */
}

button:hover {
    opacity: 0.8;
}

/* Style for selected button */
button.selected {
    background-color: #5d5223; /* Darker background for selected state */
    color: rgb(0, 0, 0);
}

#static_text_box {
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 800px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: #ffffff;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Dropdown container */
.dropdown {
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    z-index: 1000; /* Ensure it appears above other elements */
}

/* Dropdown button */
.dropbtn {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none; /* Hidden by default */
    position: absolute;
    background-color: #f9f9f9; /* Light grey background */
    min-width: 200px; /* Adjust as needed */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Add a shadow */
    padding: 12px 16px;
    z-index: 1;
    max-height: 300px; /* Adjust as needed */
    overflow-y: auto; /* Add scroll if content overflows */
}

/* Show the dropdown content when the user clicks on the button */
.dropdown.show .dropdown-content {
    display: block;
}

/* Layer label styling */
.layer-label {
    display: block;
    margin-bottom: 8px;
}

/* Container for the map */
#map {
    position: relative; /* Added position relative */
    width: 100%;
    height: 100%;
    background-color: var(--background-color, #252424); /* Adjustable map background */
    z-index:0;
}

/* Layer toggle box styles */
.layer-toggle-box {
    position: absolute; /* Absolute positioning */
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    background-color: rgba(255, 255, 255, 0.7); /* Slightly increased opacity for better visibility */
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Inner padding */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    z-index: 1000; /* Increased z-index for visibility over map tiles */
}

/* Menu content styles */
.layer-label {
    display: block; /* Stack labels vertically */
    color: #000; /* Text color for labels */
}

/* Date-time slider styles */
#date-time-slider-container {
    width: 90%; /* Ensure it takes the full width of the map */
    background: rgba(255, 255, 255, 0.5); /* 50% opacity background */
    padding: 10px; /* Inner padding */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    margin: 20px auto; /* Center the slider and add margin */
}

/* Styling for the range slider */
.slider {
    width: 100%; /* Full width of the parent container */
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    background: #000;
    outline: none;
    opacity: 1;
    transition: opacity .2s;
    border-radius: 5px;
}

.slider:hover {
    opacity: 0.9;
}

/* Custom handle styling */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #444;
    cursor: pointer;
    border-radius: 50%;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #444;
    cursor: pointer;
    border-radius: 50%;
}

/* Day and time selection display */
#day-time-selection {
    text-align: center;
    font-size: 18px;
    color: #ffffff; /* Make text color white */
    margin-top: 20px;
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* Centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Adjust as needed */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
